html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.ImgOxx {
  width: 236px;
  height: auto;
  display: block;
  margin: auto;
  opacity:   80%;
}

.SecondText {
  font-size: 26.3;
}

.ContainersForLogin {
  width: 40%;
  padding: 12px 40px;
  border: transparent;
  border-radius: 25px;  
  font-size: 16px;
  margin: 0 auto;
  background-color: #F4BB4C;
}

.ContainersForLogin input{
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.RememberMe {
  /* pass */
}

.Enter {
  /* pass */
}

.ForgotAndHelp {
  /* pass */
}

.Privacy {
  /* pass */
}
.container{
  background-color: F5F5F5;
}

.Titillium{
  font-family: "Titillium Web", sans-serif;
}

.FirstText{
  font-size: 56.7px;
}

/* Background color beige */
.background-beige-cell {
  background-color: #FDF3DD;
  /*border: 1px solid gray; /* Just to check borders */
}

/* Para hacer select form customizing */
.select-redbg-whitetxt {
  background-color: #791120;
  font-size: 25px; 
  border-radius: 10px;
  color: #FFFFFF; /* White text */ 
}


/* Podiums de leaderboard */
.left-podium {
  background-color: #B0162C;
  width: 70%;
  height: 175px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center-podium {
  background-color: #E70020;
  width: 70%;
  height: 228.5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-podium {
  background-color: #791120;
  width: 70%;
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leaderboard-left-column img {
  margin-top: 120px;
  max-width: 70%;
  margin-bottom: 10px;
}

.leaderboard-center-column img {
  margin-top: 20px;
  max-width: 70%;
  margin-bottom: 10px;  
}

.leaderboard-right-column img {
  margin-top: 165px;
  max-width: 70%;
  margin-bottom: 10px;  
}

/* Podium number styling */
.podium-number {
  background-color: #FBB212; 
  font-weight: 700;
  font-size: 50px;
  /* Set para que se mantenga el circulo */
  margin-top: 40px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podium-employee-name {
  font-weight: 600;
  font-size: 25px;
  max-width: 70%;
  text-align: center;
}

/* Para lugares restantes */
.table-beige {
  background-color: #FDF3DD !important; /* Using important to override defaults */
  width: 100%; 
}

/* Need to override the th and data */
.table-beige th, .table-beige td {
  background-color: #FDF3DD !important;
  text-align: left !important; /* Para q el text esté hacia la izquierda */
}

/* If using hover effect, prevent it from changing the background */
.table-hover tbody tr:hover {
  background-color: #E6DAC6 !important; /* Slightly darker beige on hover */
}

/* Limit table to only show first three */ 
.scroll-table {
  max-height: 125px; /* First three names only */
  overflow-y: auto; /* Permits vertical overflow */
  display: block; /* Makes table remain within its container */
}

/* Keeps table head at top */
.scroll-table thead {
  position: sticky;
  top: 0;
  background: #f9f1dc; /* Mantener el fondo beige */
  z-index: 2;
}

/* Estilos para la scroll bar */
.scroll-table::-webkit-scrollbar {
  width: 8px;
}

/* Background whiteish */
.scroll-table::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* The gray thing that moves as user scrolls */
.scroll-table::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Make slightly darker when hover over it */
.scroll-table::-webkit-scrollbar-thumb:hover {
  background: #888;
}