html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.ImgOxx {
  width: 236px;
  height: auto;
  display: block;
  margin: auto;
  opacity:   80%;
}

.SecondText {
  font-size: 26.3;
}

.ContainersForLogin {
  width: 40%;
  padding: 12px 40px;
  border: 2px solid #f4a017;
  border-radius: 25px;  
  font-size: 16px;
  margin: 0 auto;
  background-color: #F4BB4C;
}

.ContainersForLogin input{
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.RememberMe {
  /* pass */
}

.Enter {
  /* pass */
}

.ForgotAndHelp {
  /* pass */
}

.Privacy {
  /* pass */
}
.container{
  background-color: F5F5F5;
}

.Titillium{
  font-family: "Titillium Web", sans-serif;
}

.FirstText{
  font-size: 56.7px;
}