@page
@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container align-items-center Titillium">
    <h1>Estadísticas</h1>
    <div class="mt-4">
        <div class="col-12 background-beige-cell rounded align-items-end shadow-sm">
            @if (Model.UsuarioPerfil.TipoUsuario == "a")
                {
                    // Calc valores para ese usuario
                    int idSession = Model.UsuarioPerfil.IdUsuario; 

                    // Parámetros para query
                    int idUsuario = idSession; 
                    int idUsuarioElote = idSession; 
                    int idUsuarioExpCount = idSession; 
                    int idUsuarioDias = idSession;
                    int idUsuarioBars = idSession; 

                    // Usar valores para el JSON
                    string jsonParameters = System.Text.Json.JsonSerializer.Serialize(new { idUsuario, idUsuarioElote, idUsuarioExpCount, idUsuarioDias, idUsuarioBars });
                    string fullParameters = Uri.EscapeDataString(jsonParameters);

                    // Interpolated string usando {} con los parametros completos
                    string reportUrl = $"https://lookerstudio.google.com/embed/reporting/453fab71-0840-4f3f-988b-7c872a2a0441/page/FupHF?params={fullParameters}"; 
                    
                <iframe width="1200" height="1800" src="@reportUrl" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                }
                else 
                { 
                    // Dashboard para Gerente
                    int idGerente = Model.UsuarioPerfil.IdUsuario;

                    // JSON con el parámetro que espera Looker Studio
                    string jsonGerente = System.Text.Json.JsonSerializer.Serialize(new { param_id_gerente = idGerente });
                    string encodedParamsGerente = Uri.EscapeDataString(jsonGerente);

                    // Enlace con parámetros
                    string reportUrlGerente = $"https://lookerstudio.google.com/embed/reporting/b1790ec0-9092-4fce-ada0-1d265a7ad279/page/LsOIF?params={encodedParamsGerente}";

                    <iframe width="1200" height="1800" src="@reportUrlGerente" frameborder="0" style="border:0"
                        allowfullscreen
                        sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
                    </iframe>
                }
        </div>
    </div>
</div>