@page
@model PrivacyModel
@{
    ViewData["Title"] = "Inicio";
}
<h1>@ViewData["Title"]</h1>
<div class="container d-flex">
    <div class="left-sections">
        <div class="Stats">
            <h2> <img id="Icon" src="~/Img/Icon.png" alt=""> Sucursales General</h2>
            <img class="mx-auto d-block" src="~/Img/Grafico.jpg" alt="">
        </div>
        <br>
        <div class="Recordatorios">
        <h2><img id="IconRecordatorios" src="~/Img/IconRecordatorios.png" alt=""> Recordatorios</h2>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea1">
            <label class="form-check-label ms-2" for="tarea1">Visitar sucursal Zona Cero</label>
        </div>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea2">
            <label class="form-check-label ms-2" for="tarea2">Pasar nivel 5 de minijuego</label>
        </div>
        <div class="form-check mb-3 d-flex align-items-center">
            <input class="form-check-input" type="checkbox" id="tarea3">
            <label class="form-check-label ms-2" for="tarea3">Junta con gerente zona norte</label>
        </div>
        </div>
    </div>
    <div class="new-section">
        <div class="Agenda">
            <h2>Agenda</h2>
            <div class="Mes align-items-center text-center">
                <h1><img id="IconCalendar" src="~/Img/IconCalendar.png"> Marzo</h1>
                <img src="~/Img/PreviCalendar.jpg">
        </div>
    </div>
</div>
