@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="ImgOxx">

    </div>
    <div class="text-center">
        <div class="SecondText">

        </div>
    </div>
    <div class="ContainersForLogin" id="Username">

    </div>
    <div class="ContainersForLogin" id="Password">
        
    </div>
    <div class="RememberMe" id="RememberUser">

    </div>

    <div class="Enter">

    </div>

    <div class="ForgotAndHelp">

    </div>

    <div class="Privacy">
        
    </div>
</div>