@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="ImgOxx">
        <img class="ImgOxx mx-auto d-block" src="~/img/OxxoLogo.svg.png" alt="Imagen de OxxoLogo jaja alt xd">
    </div>
    <div class="text-center Titillium">
        <div class="FirstText">
            Iniciar sesión
        </div>
        <div class="SecondText Titillium">
            Introduce tus datos para continuar
        </div>
    </div>
    <div class="ContainersForLogin">
        <input type="text" id="Username" placeholder="Usuario">

    </div>
    <br>
    <div class="ContainersForLogin" id="Password">
        <input type="text" placeholder="adljfhasik" >
        
    </div>
    <div class="RememberMe" id="RememberUser">

    </div>

    <div class="Enter">

    </div>

    <div class="ForgotAndHelp">

    </div>

    <div class="Privacy">
        
    </div>
</div>