@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="ImgOxx">
        <img class="ImgOxx mx-auto d-block" src="~/img/OxxoLogo.svg.png" alt="Imagen de OxxoLogo jaja alt xd">
    </div>
    <div class="text-center Titillium">
        <div class="PrimerText">
            Iniciar sesión
        </div>
        <div class="SegundoTexto Titillium">
            Introduce tus datos para continuar
        </div>
    </div>
    <div class="ContenedoresLogin">
        <input type="text" id="Username" placeholder="Usuario">

    </div>
    <br>
    <div class="ContenedoresLogin" id="Contraseña">
        <input type="text" placeholder="Contraseña" >
        
    </div>
    <div class="form-check RecordarUsuario" id="Recordar">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
        <label class="form-check-label">Mantenerma ingresado</label>
    </div>


    <div class="Enter">
        <input type="button" value="Ingresar">
    </div>

    <div class="OlvidadoYAyuda">
    </div>

    <div class="Privacidad">
        
    </div>
</div>