@page
@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}

<div class="row align-items-center Titillium">
    <!-- Título leaderboard -->
    <div class="col-md-3">
        <h1>Leaderboard</h1>
    </div>

    <!-- Dropdown select zona -->
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-redbg-whitetxt dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Seleccionar zona
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nacional</a></li>
                <li><a class="dropdown-item" href="#">Norte</a></li>
                <li><a class="dropdown-item" href="#">Sur</a></li>
            </ul>
        </div>
    </div>

    <!-- Empty space layout -->
    <div class="col-md-6"></div>
</div>

<div class="container mt-4 Titillium">
    <div class="row" >
        <!-- Izquierdo: Leaderboard General -->
        <div class="col-md-6 background-beige-cell">
            <!-- Podiums tres principales -->
            <div class="row">
                <!--2: Columna 1-2 -->
                <div class="col-md-4 leaderboard-left-column text-center">
                </div>
                 <!--1:Columna 3-4 -->
                <div class="col-md-4 leaderboard-left-column">
                    <h2>General</h2>
                </div>
                 <!--3:Columna 4-5 -->
                <div class="col-md-4 leaderboard-left-column"></div>
            </div>

            <!-- Lugares restantes de general, maybe hacer su propio  -->
            <div class="row">
                <h2>Resto</h2>
            </div>
        </div>

        <!-- Right Side: Game Sections (Stacked Rows) -->
        <div class="col-md-6">
            <!-- Supervisor -->
            <div class="row background-beige-cell">
                <div class="col-12">
                    <h2>Supervisor Express</h2>
                </div>
            </div>
            <!-- Día a día -->
            <div class="row background-beige-cell">
                <div class="col-12">
                    <h2>Día a día</h2>
                </div>
            </div>
            <!-- Enemigos -->
            <div class="row background-beige-cell">
                <div class="col-12">
                    <h2>Enemigos</h2>
                </div>
            </div>
        </div>
    </div>
</div>