@page
@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}

<div class="row align-items-center Titillium">
    <!-- Título leaderboard -->
    <div class="col-md-3">
        <h1>Leaderboard</h1>
    </div>

    <!-- Dropdown select zona -->
    <!-- Columna container breakpoint mediana 3-->
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-redbg-whitetxt dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Seleccionar zona
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nacional</a></li>
                <li><a class="dropdown-item" href="#">Norte</a></li>
                <li><a class="dropdown-item" href="#">Sur</a></li>
            </ul>
        </div>
    </div>

    <!-- Empty space layout -->
    <div class="col-md-6"></div>
</div>

<!-- Leaderboards -->
<!-- Mt es margin top con font titillium -->
<div class="container mt-4 Titillium">
    <!-- Row with gap 3 rounded edges -->
    <div class="row g-3 align-items-start" >
        <!-- Izquierdo: Leaderboard General -->
        <div class="col-md-6 background-beige-cell rounded p-3">
            <!-- Podiums tres principales centrados -->
            <div class="row text-center">
                <!--2: Columna 1-2 -->
                <div class="col-md-4 leaderboard-left-column p-3">
                </div>
                 <!--1:Columna 3-4 -->
                <div class="col-md-4 leaderboard-center-column p-3">
                    <h2>General</h2>
                </div>
                 <!--3: Columna 4-5 -->
                <div class="col-md-4 leaderboard-right-column p-3">

                </div>
            </div>

            <!-- Lugares restantes de general, maybe hacer su propio,# mt-3 agrega margin top  -->
            <div class="row mt-3">
                <div class="col-12">
                    <h2>Resto</h2>
                </div>    
            </div>
        </div>

        <!-- Derecha juegos individuales -->
        <!-- Agregando flex para usar gap  -->
        <div class="col-md-6 d-flex flex-column gap-3">
            <!-- Supervisor -->
            <div class="background-beige-cell rounded p-3">
                <div class="col-12">
                    <h2>Supervisor Express</h2>
                </div>
            </div>
            <!-- Día a día -->
            <div class="background-beige-cell rounded p-3">
                <div class="col-12">
                    <h2>Día a día</h2>
                </div>
            </div>
            <!-- Enemigos -->
            <div class="background-beige-cell rounded p-3">
                <div class="col-12">
                    <h2>Enemigos</h2>
                </div>
            </div>
        </div>
    </div>
</div>