@page
@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}


@* <div class="col-6" style="background-color:powderblue;">
    <!-- Lugar 2 -->
    <p>A</p>
    <!-- Lugar 1 -->
    <p>B</p>
    <!-- Lugar 3 -->
    <p>C</p>
</div> *@
*@
<div class="col-2" style="background-color:powderblue;">
    <p>A</p>
</div>

<div class="col-2" style="background-color:blue;">
    <p>B</p>
</div>

<div class="col-2" style="background-color:darkblue;">
    <p>C</p>
</div>

<div class="col-6" style="background-color:gray;">
    <div class="row">
        <h1>Texto 2</h1>
    </div>
    <div class="row" style="background-color:pink;">
        <h1>Texto 3</h1>
    </div>
    <div class="row" style="background-color:purple;">
        <h1>Texto 4</h1>
    </div>
</div>
*@