@page
@model LeaderboardModel

@{
    ViewData["Title"] = "Recordatorios";
}

<div class="row align-items-center Titillium">
    <!-- Título leaderboard -->
    <h1>@ViewData["Title"]</h1>
    <div class="row g-6 align-items-start" >
        <div class="col-3 background-beige-cell rounded p-3 align-items-end shadow-sm">
            <h2 class="titulo Titillium">Categoría</h2>
            <div class="mini_categoria">
                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-primary botonpersonal" for="btn-check-outlined"></label><br>
                <h3 class="mini_titulo Titillium">Personal</h3>
            </div>
            <div class="mini_categoria">
                <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-outline-primary morado" for="btn-check-outlined"></label><br>
                <h3 class="mini_titulo Titillium">Personal</h3>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-7">
            <h2 class="fechita Titillium">Hoy, 31 de Marzo del 2025</h2>
            <div class="rounded p-3 background-beige-cell align-items-end shadow-sm"></div>
        </div>
        </div>
    </div>
</div>